{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "entry", //tells the preset to look for browserslist config source
          "corejs": "core-js@3"
        }
      }
    ]
  ],
  "plugins": [["import", { "libraryName": "antd", "style": true }]]
}
